*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body{
 background: darkslategray;
 color: black;
 overflow: hidden;
 overflow: scroll;
}